{% extends "base_lehrer.html" %}
{% load auth_extras %}
{% load bootstrap3 %}
{% block styling %}
li{
  color: #FFFAFF;
}
.myplus{
  color: #37d353;
  font-size: 1.1em;
}
{% endblock %}
{% block body %}
<p><a href="{% url 'accounts:klassenuebersicht' %}">Zurück</a></p>
<h3>Klasse {{ klassen.bezeichnung }}</h3>
<h4>Klassenleiter: {{ klassen.lehrer }}</h4>
<h4>Stellvertreter: {{ klassen.stellvertreter }}</h4>
{% for s in klassen.stundenplan_set.all %}
<h4>Stundenplan: <a href="#">{{ s.name }}</a></h4>
{% endfor %}
<h4>Schüler:</h4>
<table>
  <thead>
    <tr>
      <th>Schueler</th>
      <th>Klasse</th>
      <th>E-Mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schueler in benutzer %}
      {% if not schueler|has_group:"Lehrer" %}
        <tr>
          <td>{{ schueler.username }}</td>
          <td>{{ schueler.klasse }}</td>
          <td>{{ schueler.email }}</td>
          <td><a href="{% url 'accounts:schueler_profil' pk=schueler.id %}" class="btn btn-default">{% bootstrap_icon "eye-open" %}</a> <a href="{% url 'accounts:schuelerchange' pk=schueler.id %}" class="btn btn-default">{% bootstrap_icon "pencil" %}</a> <a href="{% url 'accounts:schueler_del' pk=schueler.id %}" class="btn btn-default">{% bootstrap_icon "trash" %}</a></td>
        </tr>
      {% endif %}
    {% empty %}
      <tr>
        <td colspan="4">Keine Schüler.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p></p>
<p><a href="{% url 'accounts:newschueler' %}" class="myplus">{% bootstrap_icon "plus" %} Schueler</a></p>
{% if not klassen.stundenplan_set.all %}
<p><a href="{% url 'accounts:plan_add' %}" class="myplus">{% bootstrap_icon "plus" %} Stundenplan</a></p>
{% endif %}
{% endblock %}
