{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
.myplussecond{
  color: #37d353;
  font-size: 1.1em;
}
{% endblock %}
{% block body %}
<h4>Klassen:</h4>
<table>
  <thead>
    <tr>
      <th>Klasse</th>
      <th>Klassenleiter</th>
      <th>Stellvertreter</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for klass in object_list %}
      <tr>
        <td>{{ klass.bezeichnung }}</td>
        <td>{{ klass.lehrer }}</span></td>
        <td>{{ klass.stellvertreter }}</td>
        <td><a href="{% url 'accounts:schueleruebersicht' pk=klass.id %}" class="btn btn-default">{% bootstrap_icon "eye-open" %}</a> <a href="{% url 'accounts:klasse_up' pk=klass.id %}" class="btn btn-default">{% bootstrap_icon "pencil" %}</a> <a href="{% url 'accounts:klasse_del' pk=klass.id %}" class="btn btn-danger">{% bootstrap_icon "trash" %}</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">Keine Klassen.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- {% for klass in object_list %}
    <li><a href="{% url 'accounts:schueleruebersicht' pk=klass.id %}">{{ klass.bezeichnung }}</a> - Klassenleiter: {{ klass.lehrer }}</li>
{% empty %}
    <li>Keine Klassen.</li>
{% endfor %} -->
<p></p>
<p><a href="{% url 'accounts:newklasse' %}" class="myplussecond">{% bootstrap_icon "plus" %} Klasse</a></p>
<!-- <p><a href="{% url 'accounts:newschueler' %}" class="myplussecond">{% bootstrap_icon "plus" %} Schüler</a></p> -->
{% endblock %}
