{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
p, li{
  color: #FFFAFF;
}
#id_lehrer, #id_stellvertreter, .myklasse, .mybutton, input{
  color: #000000;
}
{% endblock %}
{% block body %}
<p><a href="{% url 'accounts:schueleruebersicht' pk=object.id %}">Zurück</a></p>
<h4>Klasse {{ object }}</h4>
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-info">{% bootstrap_icon "ok" %}</button>
  <a class="btn btn-danger mybutton" href="{% url 'accounts:klasse_del' pk=object.id %}">{% bootstrap_icon "trash" %}</a>
</form>
{% endblock %}
