{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block styling %}
p, label{
  color: #FFFAFF;
}
option{
  color: #000000;
}
#id_lehrer, #id_stellvertreter, #id_klasse, input{
	color: #000000;
}
{% endblock %}
{% block body %}
<p><a href="{% url 'accounts:kursdetail' pk=object.id %}">Zurück</a></p>
<h4>Kurs '{{ object }}' bearbeiten</h4>
<form method="POST" action="{% url 'accounts:kurs_up' pk=object.pk %}" id="kursUpdate">
	{% csrf_token %}
  {{ form.as_p }}
  <!-- <p>
    {{ form.bezeichnung.errors }}
    {{ form.bezeichnung.label_tag }}
    {{ form.bezeichnung }}
    {% if form.bezeichnung.help_text %}
        <p class="help">{{ form.bezeichnung.help_text|safe }}</p>
    {% endif %}
  </p> -->
  <button type="submit" class="btn btn-info">{% bootstrap_icon "ok" %}</button>
	<!-- <input type="submit" value="Speichern" class="btn btn-info"> -->
</form>
{% endblock %}
