{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block styling %}
p, label{
  color: #FFFAFF;
}
option{
  color: #000000;
}
#id_lehrer, #id_stellvertreter, #id_klasse, input{
	color: #000000;
}
{% endblock %}
{% block body %}
<h4>Kurs '{{ object }}' bearbeiten</h4>
<form method="POST" action="{% url 'accounts:kurs_up' pk=object.pk %}" id="kursUpdate">
	{% csrf_token %}
  {{ form.as_p }}
  <!-- <p>
    {{ form.bezeichnung.errors }}
    {{ form.bezeichnung.label_tag }}
    {{ form.bezeichnung }}
    {% if form.bezeichnung.help_text %}
        <p class="help">{{ form.bezeichnung.help_text|safe }}</p>
    {% endif %}
  </p>
  <p>
    {{ form.lehrer.errors }}
    {{ form.lehrer.label_tag }}
    {{ form.lehrer }}
    {% if form.lehrer.help_text %}
        <p class="help">{{ form.lehrer.help_text|safe }}</p>
    {% endif %}
  </p> -->
	<input type="submit" value="Speichern" class="btn btn-info">
</form>
{% endblock %}
