{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
li{
  color: #FFFAFF;
}
mybutton{
  color: #000000;
}
{% endblock %}
{% block body %}
<h3>Bezeichnung: {{ kurs.bezeichnung }}</h3>
<h4>Lehrer: {{ kurs.lehrer }}</h4>
<ul>
  {% for schueler in kurs.teilnehmer.all %}
    <li><a href="{% url 'accounts:schuelerchange' pk=schueler.id %}">{{ schueler.username }}</a></li>
  {% empty %}
    <li>Keine Schüler nehmen teil.</li>
  {% endfor %}
</ul>
<p></p>
<a class="btn btn-default mybutton" href="{% url 'accounts:kurs_up' pk=object.id %}">Kurs bearbeiten</a>
<a class="btn btn-danger mybutton" href="{% url 'accounts:kurs_del' pk=object.id %}">Kurs löschen</a>
{% endblock %}
