{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
li{
  color: #FFFAFF;
}
.myplus{
  color: #37d353;
}
{% endblock %}
{% block body %}
<h3>Bezeichnung: {{ kurs.bezeichnung }}</h3>
<h4>Fachlehrer: {{ kurs.lehrer }}</h4>
{% if kurs.stellvertreter %}
  <h4>Stellvertreter: {{ kurs.lehrer }}</h4>
{% else %}
  <h4>Stellvertreter: Keiner</h4>
{% endif %}
<h4>Teilnehmer:</h4>
<table>
  <thead>
    <tr>
      <th>Schueler</th>
      <th>Klasse</th>
      <th>E-Mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schueler in kurs.teilnehmer.all %}
      <tr>
        <td>{{ schueler.username }}</td>
        <td>{{ schueler.klasse }}</td>
        <td>{{ schueler.email }}</td>
        <td><a href="{% url 'accounts:schueler_profil' pk=schueler.id %}" class="btn btn-default">{% bootstrap_icon "eye-open" %}</a> <a href="{% url 'accounts:schueler_plus' pk=object.id myid=schueler.id act=1 %}" class="btn btn-default">{% bootstrap_icon "trash" %}</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">Keine Schüler nehmen teil.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p></p>
<p><a class="myplus" href="{% url 'accounts:schueler_plus' pk=object.id %}">{% bootstrap_icon "plus" %} Schueler</a></p>
<!-- <ul>
  {% for schueler in kurs.teilnehmer.all %}
    <li><a href="{% url 'accounts:schuelerchange' pk=schueler.id %}">{{ schueler.username }}</a></li>
  {% empty %}
    <li>Keine Schüler nehmen teil.</li>
  {% endfor %}
</ul> -->
<p></p>
<a class="btn btn-default mybutton" href="{% url 'accounts:kurs_up' pk=object.id %}">{% bootstrap_icon "pencil" %}</a>
<a class="btn btn-danger mybutton" href="{% url 'accounts:kurs_del' pk=object.id %}">{% bootstrap_icon "trash" %}</a>
{% endblock %}
