{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block styling %}
.myclass, .myp, label{
  color: #FFFAFF;
}
input, option{
	color: #000000;
}
{% endblock %}
{% block body %}
<h4>Kurs hinzufügen</h4>
<form method="POST" action="{% url 'accounts:newkurs' %}" id="kursForm">
  {% csrf_token %}
  {{ form.as_p }}
  <!-- <p class="myp">
    {{ form.bezeichnung.errors }}
    {{ form.bezeichnung.label_tag }}
    {{ form.bezeichnung }}
    {% if form.bezeichnung.help_text %}
        <p class="help">{{ form.bezeichnung.help_text|safe }}</p>
    {% endif %}
  </p>
  <p class="myp">
    {{ form.lehrer.errors }}
    {{ form.lehrer.label_tag }}
    {{ form.lehrer }}
    {% if form.lehrer.help_text %}
        <p class="help">{{ form.lehrer.help_text|safe }}</p>
    {% endif %}
  </p> -->
  <input type="submit" value="Hinzufügen" class="btn btn-info">
</form>
{% endblock %}
