{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
.myplussecond{
  color: #37d353;
  font-size: 1.1em;
}
{% endblock %}
{% block body %}
<p><a href="#">Zurück</a></p>
<h4>Lehrer {{ user.username }}</h4>
<table>
  <thead>
    <tr>
      <th>Zeit</th>
      <th>Montag</th>
      <th>Dienstag</th>
      <th>Mittwoch</th>
      <th>Donnerstag</th>
      <th>Freitag</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for z in object.zeile_set.all %}
      <tr>
        {% if z.beginn and z.ende %}
          <td>{{ z.beginn }} - {{ z.ende }}</td>
        {% else %}
          <td></td>
        {% endif %}
        <td>{% if z.mo %}{{ z.mo }}<br/>{{ z.mo.lehrer }}{% endif %}</td>
        <td>{% if z.di %}{{ z.di }}{% endif %}</td>
        <td>{% if z.mi %}{{ z.mi }}{% endif %}</td>
        <td>{% if z.do %}{{ z.do }}{% endif %}</td>
        <td>{% if z.fr %}{{ z.fr }}{% endif %}</td>
        <td><a href="#" class="btn btn-default">{% bootstrap_icon "pencil" %}</a> <a href="#" class="btn btn-danger">{% bootstrap_icon "trash" %}</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7">Keine Einträge.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p></p>
<p><a href="{% url 'accounts:lehrer_zeile_add' %}" class="myplussecond">{% bootstrap_icon "plus" %} Zeile</a></p>
<p><a href="#" class="btn btn-danger">{% bootstrap_icon "trash" %}</a></p>
{% endblock %}
