{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
{% endblock %}
{% block body %}
<h4>Schueler:</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schueler in object_list %}
      <tr>
        <td>{{ schueler.username }}</td>
        <td>{{ schueler.email }}</td>
        <td><a href="{% url 'accounts:schuelerchange' pk=schueler.id %}" class="btn btn-default">{% bootstrap_icon "pencil" %}</a> <a href="{% url 'accounts:schueler_del' pk=schueler.id %}" class="btn btn-danger">{% bootstrap_icon "trash" %}</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">Keine Schueler ohne Kurs gefunden.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- {% for schueler in object_list %}
    <li><a href="#">{{ schueler.username }}</a></li>
{% empty %}
    <li>Keine Schueler ohne Kurs gefunden.</li>
{% endfor %} -->
{% endblock %}
