{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
p, li, h5{
  color: #FFFAFF;
}
.mylabel{
  color: #FFFAFF;
  font-size: 1.4em;
}
.myplus{
  color: #37d353;
  font-size: 1.2em;
}
{% endblock %}
{% block body %}
<p><a href="{% url 'accounts:index_lehrer' %}">Zurück</a></p>
<form class="form-inline" method="POST" action="{% url 'accounts:raum_list' %}">
  {% csrf_token %}
  <div class="form-group">
    <label class="mylabel" for="suche">Ausstattung:</label>
    <input type="text" class="form-control" id="suche" name="search" placeholder="Suchen...">
  </div>
  <button type="submit" class="btn btn-default">Suchen</button>
</form>
<p></p>
{% for object in objects %}
  <li><a href="{% url 'accounts:raum_detail' pk=object.id %}">{{ object.bezeichnung }}</a>{% if object.beschreibung %} - Ausstattung: {{ object.beschreibung|truncatewords:5 }}{% endif %}</li>
{% empty %}
  <li>Keine Ergebnisse.</li>
{% endfor %}
<p></p>
<a href="{% url 'accounts:raum_add' %}" class="myplus">{% bootstrap_icon "plus" %} Raum</a>
{% endblock %}
