{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
p{
  color: #FFFAFF;
}
li{
  color: #FFFAFF;
}
input{
	color: #000000;
}
.myklasse{
  color: #000000;
}
{% endblock %}
{% block body %}
<h4>Schüler hinzufügen</h4>
<form method="POST" action="" id="sForm">
	{% csrf_token %}
  {{ form.as_p }}
	<input type="submit" value="Hinzufügen" class="btn btn-info">
  <p></p>
  <p>Das Passwort muss nicht angegeben werden und wird bei erstmaliger Anmeldung des Schülers von diesem geändert.</p>
</form>
{% endblock %}
