{% extends "base_lehrer.html" %}
{% load bootstrap3 %}
{% block styling %}
p, li, h5{
  color: #FFFAFF;
}
.mylabel{
  color: #FFFAFF;
  font-size: 1.4em;
}
.myplus{
  color: #37d353;
  font-size: 1.2em;
}
{% endblock %}
{% block body %}
<p><a href="{% url 'accounts:index_lehrer' %}">Zurück</a></p>
<div class="row">
  <div class="col-md-6">
    <form class="form-inline" method="POST" action="{% url 'accounts:uebersicht' %}">
      {% csrf_token %}
      <div class="form-group">
        <label class="mylabel" for="suche">Kurs:</label>
        <input type="text" class="form-control" id="suche" name="search" placeholder="Suchen...">
      </div>
      <button type="submit" class="btn btn-default">Suchen</button>
    </form>
    <p></p>
    <table>
      <thead>
        <tr>
          <th>Kurs</th>
          <th>Verantwortlicher</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for kurs in kurse %}
          <tr>
            <td>{{ kurs.bezeichnung }}</td>
            <td>{{ kurs.lehrer }}</span></td>
            <td><a href="{% url 'accounts:kursdetail' pk=kurs.id %}" class="btn btn-default">{% bootstrap_icon "eye-open" %}</a> <a href="{% url 'accounts:kurs_up' pk=kurs.id %}" class="btn btn-default">{% bootstrap_icon "pencil" %}</a> <a href="{% url 'accounts:kurs_del' pk=kurs.id %}" class="btn btn-danger">{% bootstrap_icon "trash" %}</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">Keine Ergebnisse.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- {% for kurs in kurse %}
      <li><a href="{% url 'accounts:kursdetail' pk=kurs.id %}">{{ kurs.bezeichnung }}</a> - Lehrer: {{ kurs.lehrer }}</li>
    {% empty %}
      <li>Keine Ergebnisse.</li>
    {% endfor %} -->
    <p></p>
    <a href="{% url 'accounts:newkurs' %}" class="myplus">{% bootstrap_icon "plus" %} Kurs</a>
  </div>
  <div class="col-md-6">
    <h3>Übersicht</h3>
    <p><a href="{% url 'accounts:klassenuebersicht' %}">Klassenübersicht</a></p>
    <p><a href="{% url 'accounts:raum_list' %}">Räume</a></p>
    <p><a href="{% url 'accounts:ohne_kurs' %}">Schüler ohne Kurs</a></p>
    <p><a href="{% url 'accounts:ohne_klasse' %}">Schüler ohne Klasse</a></p>
  </div>
</div>
{% endblock %}
