{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      body{
        background-color: #3E505B;
      }
      a{
        color: #00ADB5;
      }
      h4, h3{
        color: #FFFAFF;
      }
      {% block styling %}{% endblock %}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block mynav %}{% endblock %}
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% block mynavsecond %}{% endblock %}
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="btn btn-simple nav-link">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
