{% extends "base_index.html" %}
{% load bootstrap3 %}
{% block styling %}
p{
  color: #FFFAFF;
}
h3, h4{
  color: #FFFAFF;
}
.mitte{
  text-align: center;
}
{% endblock %}
{% block body %}
  <h1 class="mitte">Willkommen zum Schulserver!</h1>
  <h3 class="mitte">Neuigkeiten</h3>
  {% for topic in object_list %}
      <h4 class="mitte"><a href="{% url 'accounts:thema_detail_official' pk=topic.id %}">{{ topic.title }}</a></h4>
      <p class="mitte">{{ topic.text|striptags|truncatewords:7|safe }}</p>
      <br>
  {% empty %}
      <h4 class="mitte">Keine Neuigkeiten.</h4>
  {% endfor %}
  <p class="mitte"><a href="{% url 'accounts:themen_official' %}">{% bootstrap_icon "menu-down" %}</a></p>
{% endblock %}
